@charset "utf-8";



.main-img{
	margin-top: 0%;
	height: 100%;
	width: 100%;
	background-image: url("../img/top.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -40%;
	margin-left: 0%;
}


.big{
	position: absolute;
	margin: 0 auto;
}

.logo{
	width: 25%;
	height: 25%;
	margin-top: 0%;
	margin-bottom: 40%;
	margin-right: 70%;
}

.info-title{
	font-size: 75%;
	font-family:"ms mincho";
	padding-bottom: -10%;
	padding-right: 15%;
	padding-left: -19%;
	border-bottom: 1rem solid rgb(90, 90, 245);
	margin-bottom: 15%;
	margin-left: 0%;
	width:69%;
}
.second-img{
	position: absolute;
	z-index: 1;
	margin-top: 12%;
	margin-left: 1%;
	background-image: url("../img/mizu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode:lighten;
	width: 60%;
	height: 40%;
	font-size: 2rem;
	padding-top: 8%;
	padding-right: 0%;
	padding-right: 15%;
	background-color: rgba(255, 255, 255, 0.6);
	letter-spacing: 0.2rem;
	opacity: 0.6;

}
.sea{
	padding-right: 40%;
}
.english{
	background-color: azure;
	width: 80%;
	text-align: left;
	font-size: 1.5rem;
	letter-spacing:0.2rem;
	margin: 0 auto;
	position: absolute;
}

.info{
	width: 68%;
	height: 8%;
	margin-left: 62%;
	margin-top: -6%;
	z-index: 3;
	position: relative;
}
.info-p{
	position: absolute;
	margin-left: 6%;
	margin-top: -14%;
	font-size: 1.5rem;
	text-align:left;
	font-family: "ms mincho";
	line-height: 3.5rem;
	margin-bottom: -5%;
	width: 100%;
}
.mation{
	margin-right:-80%;
	margin-left: 30%;
	font-size: 130%;
	margin-top: -10%;
	font-weight: 800;
	color: gray;
	opacity: 0.7;
	width: 80%;
   padding-right: -70%;
   padding-left: 20%;
}
.second{
	margin-top: 50%;
	position: relative;
	width:76%;
	margin-left: 0%;
	margin-bottom: -120%;
}
.picture{
	margin-top:0%;
	margin-bottom: 4%;
	margin-left: 0%;
	padding-top: 7%;
	padding-bottom: 7%;
	border-top: 0.5rem solid navy;
	border-bottom: 0.5rem solid navy;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.con1{
	width:49vw;
	position: relative;
	margin-bottom: -5%;
}

.system{
	margin: 0 auto;
	margin-top: 20%;
}
.system-p{
	font-size:85%;
	margin-top: 0%;
	text-align: right;
	width: 50vw;
	border-bottom: 1rem solid rgb(90, 90, 245);
	font-family: "ms mincho";
	padding-right: 10%;
	padding-left: -50%;
	margin-left: 38%;
}
iframe{
	height: 60vh;
	width: 38vw;
	padding-right: 18%;
	padding-bottom: 30%;

}
.system-p2{
	font-size: 6.5rem;
	margin-left: 8%;
	text-align: left;
	color: gray;
	opacity: 0.5;
	margin-top: 5%;
}
.plan-title{
	position: relative;
	z-index: 5;
	font-size: 70%;
	color: rgba(58, 58, 133,1);
	margin-left: 0%;
	padding-left: -30%;
	margin-right: 15%;
	margin-top: 2%;
	text-align: right;
}
.menu-p{
	background-image: url("../img/mizu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.8);
	background-blend-mode: lighten;
	width: 85%;
	margin-top: -5%;
	margin-left: 0%;
	text-align: left;
	font-size: 2rem;
	padding-top: 5%;
	padding-left: 3%;
	padding-bottom: 8%;
	font-family: "ms mincho";
	opacity: 0.7;

}
.border1{
	border-bottom: 0.1rem solid black;
	width: 60%;
	margin-left:0%;
	font-size: 1.5rem;
	padding-left: 2%;
}
.alc{
	width:70%;
	margin-left:-20%;
	margin-top: -5%;
	z-index:7;
	opacity: none;
	position: absolute;
}
.alc1{
	display: none;
}
.reserve{
	width: 100%;
	margin-bottom: -90%;
	margin-top: 45%;
}
.vr{
	font-size:10rem;
	font-weight: 800;
	height: 280%;
	margin-top: 110%;
}
.ac2{
	display: flex;
	flex-direction: row;
	width: 90%;
	font-size: 5rem;
	border-bottom: 1rem solid rgb(77, 170, 201);
}

.accses{

}
.messe{
	width: 40vw;
	height: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: -15%;
	border: 0.5rem solid rgb(54, 54, 133);
	padding: 0%;
	font-size: 2rem;
	text-align: left;
	font-family:"ms mincho";

}
.lish{
	width: 89%;
	margin: 0 auto;
	height: 50%;
	margin-top: 150%;
	padding-bottom: 10%;
	padding: -30%;
	padding-top: 5%;
}
.en{
	font-size: 1.2rem;
	text-align: left;
	width:111%;
	margin: 0 auto;
	margin-left: 0%;
	padding: 4% 10% 4%;
	margin-top: 10%;
	line-height: 2.5rem;
	background-color: rgb(218, 218, 216);
	position: absolute;

}
.fle{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.map{
	width: 55vw;
	margin-left: 20%;
	margin-top: 10%;
	height: 46vh;
}
.block3{
	margin-left: 10%;
	border: 0.2rem solid rgb(122, 166, 231);
	padding: 0% 12% 0% 10%;
	width: 50%;
	margin-top: 10%;
}
.contact-p{
	font-size: 2rem;
	margin: 0%;
}
.contact{
	border-bottom: 0.2rem solid rgb(105, 105, 189);
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: -10%;
}
.wrapp{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: 2.8rem;
	margin-top: -10%;
	margin-bottom: 15%;
	width: 70%;
	margin: 0 auto;
}
.nam1, .nam2, .nam3, .nam4{
	font-size: 1rem;
}
input{
	width: 35%;
	text-align: right;
	margin-left: 50%;
}
.block{
	border: 0.15rem solid rgb(122, 166, 231);
	width:20%;
	margin: 0 auto;
	margin-bottom: -8%;
	padding:2%;
	font-size: 2rem;
}
.space{
	width:70%;
	height: 30%;
	margin: 0 auto;
	margin: 15%;
	padding: 20% 0% 20%;
	color:black;
	background-color: black;
}
.vr-p{
	margin-top: 15%;
	margin-bottom: -10%;
	font-size: 2rem;
	text-align: center;	
}
.ac-2{
	text-align: center;
	font-size: 4rem;
	border-bottom: 0.15rem solid rgb(105, 105, 189);
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
	padding-bottom: 2%;

}
.contact{
	border-bottom: 0.1rem solid rgb(105, 105, 189);
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
}
.map2{
	display: none;
}


/*仮*/
.tel{
	line-height: 40px;}
.sora{
	background-image: url(../images/sora.jpg);
}
article {
	width: 74%;
}
aside {
	width: 22%;
}
.coka-content{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
}
.tel{
	list-style: none;
}
span{
	font-size: 10px;
}
.page{
	border-bottom: 2px #0bd solid;
}
.kaisya{
	font-size: 45px;
	margin-left: 10px;
}
.sports-content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.syougou{
	font-size: 1px;
}
.sid{
	list-style: none;
}
.dou{
	font-size: 20px;
}
.in{
	margin: 0 auto;
}
.in{
	font-size: 30px;
	magin: 0 auto;
}
.migi{
	text-align: left;
	margin-top: 270px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 12px;
}
.betu{
	text-align: center;
}
.big-bg{
	text-align: center;
	font-size: 60px;
}
input{
	width: 45%;
	margin-left: 8%;
}
.call{
	font-size: 100px;
}
.hiduke{
	font-size: 20px;
}
.kizi{
	font-size: 30px;
}
.gap{
	font-size: 26px;
}
.massage{
	width:60vw;
	margin-left: 35%;
	margin-right: -10%;
}
.mail-p{
	font-size: 2rem;
	font-weight: 600;
	background: rgb(50, 50, 235);
	width: 20vw;
	margin: 0 auto;
	padding: 1%;
	margin-bottom: 15%;
	margin-top: 10%;
}
footer{
	width: 100%;
	font-size: 1.2rem;
	background: rgb(191, 217, 226);
	padding: 2% 0% 2%;
}